/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa; /* Background color for the entire page */
}

.container {
  margin-top: 20px;
}

.container-login {
  margin-top: 150px;
}

.container-signup {
  margin-top: 120px;
}

/* Navbar Styles */
.navbar {
  border-radius: 0;
  background-color: #005073;
}

.navbar-brand img {
  max-height: 40px; /* Adjust the logo's max height as needed */
}

/* Login and Sign-Up Page Styles */
.card {
  border: none;
}

.card-body {
  padding: 20px;
}

.card-body-welcome {
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #007bff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Footer Styles */
footer {
  position: absolute;
  bottom: 0;
  height: auto; /* Allow the footer to adjust its height based on content */
  width: 100%;
  background-color: #005073; /* Choose the desired background color */
  color: #fff; /* Text color */
  text-align: center;
  padding: 10px 0; /* Adjust the padding as desired */
}

/* Ensure details are visible within the footer */
footer p {
  margin: 5px 0;
}

/* Apply styles to elements within the CRM page */
.crm-page {
  background-color: #f8f9fa;
  /* Add more styles as needed */
}

/* Navbar Styles for CRM Page */
.crm-page .navbar {
  background-color: #343a40;
}

/* Sidebar Styles for CRM Page */
.crm-page .card {
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.crm-page .card-body {
  padding: 20px;
  text-align: center;
}

.crm-page .card img {
  max-width: 100px;
  height: auto;
  border: 2px solid #007bff; /* Border color for the user avatar */
  border-radius: 50%;
}


/* Custom CSS for navbar and avatar size */
body {
  overflow-x: hidden;
  overflow-y: auto;
}

.navbar {
  min-height: 60px;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.navbar-toggler-icon {
  line-height: 40px;
}

.header-crm-home {
  margin-top: 130px;
}

.header-analytics {
  margin-top: 250px;
}

.card-row {
  justify-content: center;
  margin-top: 20px;
}

.card {
  margin: 20px;
  background-color: #005073; /* Set the same color as the navbar */
  border: none; /* Remove card borders */
  color: #fff; /* Text color for the cards */
}

.card-link {
  color: #fff; /* Text color for the card links */
  text-decoration: none;
}

.navbar .dropdown-menu {
  right: 0;
  left: auto;
}

.table-container {
  max-height: 500px; 
  overflow-x: auto; 
}

.search-bar-deals{
  padding: 10px;
  padding-top: 10px;
}

.search-bar-leads{
  padding: 10px;
  padding-top: 10px;
}

.search-bar-customers{
  padding: 10px;
  padding-top: 10px;
}

.thead{
  background-color: #005073;
  color:#fff;
}

.btn-new-customer{
  background-color: #007bff;
  color: #fff;
}

.btn-search{
  background-color: #007bff;
  color: #fff;
}

.btn-new-deal{
  background-color: #007bff;
  color: #fff;
}

.btn-new-lead{
  background-color: #007bff;
  color: #fff;
}

.btn-save-deal{
  background-color: #007bff;
  color: #fff;
}

.btn-save-lead{
  background-color: #007bff;
  color: #fff;
}

.btn-save-customer{
  background-color: #007bff;
  color: #fff;
}

.card-logout {
  margin: 100px;
  background-color: #005073; /* Set the same color as the navbar */
  border: none; /* Remove card borders */
  color: #fff; /* Text color for the cards */
  padding-top: 10px;
  border-radius: 10px;
}

.card-login{
  margin: 100px;
  background-color: #005073; /* Set the same color as the navbar */
  border: none; /* Remove card borders */
  color: #fff; /* Text color for the cards */
  padding-top: 10px;
  border-radius: 10px;
}

.card-signup{
  margin: 100px;
  background-color: #005073; /* Set the same color as the navbar */
  border: none; /* Remove card borders */
  color: #fff; /* Text color for the cards */
  padding-top: 10px;
  border-radius: 10px;
}

.lead-update-form-body {
  position: relative;
  width: 30rem;
  margin: 0 auto;
  padding: 20px;
  background-color: #333;
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.card-title-deal-update {
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  font-size: 24px;
  color: #000000;
  position: relative;
  z-index: 1;
}

.form-group {
  margin-bottom: 20px; /* Add space between fields and titles */
}

label {
  font-weight: bold;
  color: #000000;
}

input[type="text"],
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #D3D3D3;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
  color: #000000;
}

#id_amount,
#id_address,
#id_notes,
#id_email {
  width: 100%;
  padding: 8px;
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
  color: #000000;
}

.btn-deal-update {
  background-color: #007bff;
  color: #fff;
}

.btn-deal-cancel {
  background-color: #6c757d;
  color: #fff;
}

/* Add space before the buttons */
.form-button-group-deal-update {
  margin-top: 20px;
  text-align: center;
}

.table-leads {
  overflow-x: auto;
}

.card-welcome {
  margin: 20px;
  background-color: #005073; /* Set the same color as the navbar */
  border: none; /* Remove card borders */
  color: #fff; /* Text color for the cards */
}

   /* Center the calendar on the page */
   .calendar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 40px;
}

/* Add some styles to the iframe */
iframe.calendar-frame {
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.calendar-body{
  overflow: hidden;
}


/* global-styles.css */

/* Global styles */

.profile-body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
  padding: 20px;
}

/* Styles for the View Profile page */
.profile-page-title {
  color: #333;
  font-size: 24px;
}

.profile-page-image {
  max-width: 200px;
  border-radius: 50%;
}

.profile-page-info {
  margin: 10px;
  font-size: 18px;
}

.profile-page-info a {
  color: #007bff;
  text-decoration: none;
}

.profile-page-navbar .profile-nav-pages{
  color: #fff;
}