{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Deal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top">
        <a type="button" class="btn btn-light" href="{% url 'deals_list' %}">Back to Deals</a>
    
        <div class="ml-auto">
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="{% static 'images/user-avatar.png'%}" alt="User Avatar" class="user-avatar">
                </a>
                <div class="dropdown-menu dropdown-menu-dark dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">Edit Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container mt-5" style="padding-top: 60px;">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="text-center">New Deal</h1>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="deal_name">Deal Name:</label>
                        <input type="text" class="form-control" id="deal_name" name="deal_name">
                    </div>
                    <div class="form-group">
                        <label for="stage">Stage:</label>
                        <input type="text" class="form-control" id="stage" name="stage">
                    </div>
                    <div class="form-group">
                        <label for="activity">Activity:</label>
                        <input type="text" class="form-control" id="activity" name="activity">
                    </div>
                    <div class="form-group">
                        <label for="client">Client:</label>
                        <input type="text" class="form-control" id="client" name="client" placeholder="Enter client" required>
                    </div>
                    <div class="form-group">
                        <label for="amount">Amount:</label>
                        <input type="number" class="form-control" id="amount" name="amount" placeholder="Enter amount" required>
                    </div>
                    <div class="form-group">
                        <label for="responsible">Responsible:</label>
                        <input type="text" class="form-control" id="responsible" name="responsible" placeholder="Enter responsible" required>
                    </div>
                    <div class="form-group">
                        <label for="created">Created:</label>
                        <input type="date" class="form-control" id="created" name="created" required>
                    </div>
                    <div class="form-group">
                        <label for="customer_journey">Customer Journey:</label>
                        <textarea class="form-control" id="customer_journey" name="customer_journey" rows="3" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-dark btn-block">Save Deal</button>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
